header {
  @include space-b;
  padding: 5rem 3.125rem 5rem 5rem;

  .title {
    h1 {
      font-family: $font4;
      color: #6E745B;
      font-size: 3rem;
    }
    p {
      @include center;
      color: #6E745B;
      font-style: italic;
      font-size: 1.5rem;
      min-width: 100% ;
    }
  }

  nav {
    @include column;
    font-family: $font3;
    min-width: 50%;

    ul {
      @include center-row;
      min-width: auto;
      gap: 2rem;
      li a {
        text-transform: uppercase;
        text-decoration: none;
        color: $color9;
      }
    }
  }
}