// FONTS 
@font-face {
  font-family:"Baskerville";
  src: url(./fonts/Baskerville/Baskervville-Regular.ttf);
}
@font-face {
  font-family:"Dancing";
  src: url(./fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family:"Lato";
  src: url(./fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family:"Playfair";
  src: url(./fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

$font1:"Baskerville";
$font2:"Dancing";
$font3:"Lato";
$font4:"Playfair";

// COLORS
$color1:#D3D9C5; 
$color2:#E9CCAB;
$color3:#EEF0E2;
$color4:#A6B49C;
$color5:#4A4A4A;
$color6:#6E745B;
$color7:#B7C3A4;
$color8:#D6B196;

// MIXINS

// BUTTON

// BODY

// SECTION