@font-face {
  font-family: "Baskerville-Bold";
  src: url(./fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf);
}
@font-face {
  font-family: "Dancing";
  src: url(./fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Playfair";
  src: url(./fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}
.intro .btn-container button {
  padding: 15px 50px;
  text-transform: uppercase;
  background-color: #E9CCAB;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.8941176471);
  border: 1px;
}
.intro .btn-container button:hover {
  cursor: pointer;
  background-color: white;
  color: #E9CCAB;
  border: 1px solid #E9CCAB;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn-container button {
  padding: 15px 50px;
  text-transform: uppercase;
  background-color: #A6B49C;
  letter-spacing: 2px;
  color: white;
  border: 1px;
}
.btn-container button:hover {
  cursor: pointer;
  background-color: white;
  color: #A6B49C;
  border: 1px solid #A6B49C;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.posts, h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 3.125rem 5rem 5rem;
}
header .title h1 {
  font-family: "Playfair";
  color: #6E745B;
  font-size: 3rem;
}
header .title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6E745B;
  font-style: italic;
  font-size: 1.5rem;
  min-width: 100%;
}
header nav {
  font-family: "Lato";
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}
header nav ul li a {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: #323131;
}
header nav ul li a:hover {
  color: #6E745B;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #6E745B;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
header nav ul li a:hover::after {
  width: 100%;
  color: #6E745B;
}
header nav .nav-socials li {
  font-size: 1.5rem;
  margin-top: 1rem;
}
header nav .nav-socials a {
  color: #B7C3A4;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 30vh;
  background: #D6B196;
}
footer h4 {
  font-family: "Dancing";
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
  margin: 2rem 0 2rem;
}
footer input {
  padding: 1rem;
}
footer .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
footer .footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40%;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
footer .footer-socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: #4A4A4A;
  border: 1px solid;
  border-radius: 200px;
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
}
footer .footer-socials a:hover {
  color: #6E745B;
}/*# sourceMappingURL=index.css.map */